<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Extended.Wpf.Toolkit" version="3.2.0" targetFramework="net461" />
  <package id="OpenTK" version="3.0.0-pre" targetFramework="net461" />
  <package id="OpenTK.Next" version="1.2.2336.6514-pre" targetFramework="net461" />
  <package id="OpenTK.Next.GLControl" version="1.2.2336.6514-pre" targetFramework="net461" />
  <package id="Str1ker.OpenTK" version="1.1.2253.0" targetFramework="net461" />
  <package id="Str1ker.OpenTK.GLControl" version="1.1.2253.1" targetFramework="net461" />
</packages>